//Fonts

$main-font: Lato,sans-serif;


//colors

$white:#fff;

$primary:#FF3F3A;;

$btn-gradient:linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

$btn-hover-gradient:linear-gradient(55.95deg, white 0%, white 100%);

$secondary: #FFCF2D;

$divider-gradient:linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);

$succes:#03CEA4;

$danger:#FF4242;

$warning:#CCCCCC;

$info:#5A87FC;
